
.navbar-nav {
    background-color: lightgray;
    position: fixed;
    top: 0;
    width: 100%;
  }
.navbar a {
    color: black;
    padding: 14px 16px;
    margin-top: 11px;
}
.navbar a:hover {
    background: gray;
    color: white;
}
.main {
    margin-top: 70px;
}
img {
    width: 80px;
    padding: 10px;
}
.square1 {
    width: 99%;
    display: inline-block;
    border: 1px solid black;
    margin: 5px;
    padding: 6px;
    background-color: #ffadad;
}
.square2 {
    width: 99%;
    display: inline-block;
    border: 1px solid black;
    margin: 5px;
    padding: 6px;
    background-color: #9bf6ff;
}
body {
    background-color: #d1dbe4;
}
